.hide_btn {
    display: none;
}

.btn_ballondor {
    position: relative;
}

.card_player .card-img-top,
.card_player .card-body {
    cursor: pointer;
}

.card_player .card-img-top {
    width: 100%;
    height: 290px;
    object-fit: cover;
    object-position: top;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card .card-body {
    flex: none!important;
    height: 110px;
}

.card {
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}

.card_team .card-img-top {
    height: 240px;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}